@import "../../variables.scss";

.notificationWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 22px 44px;
    border-bottom: 1px solid #E2E4E9;
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: $white;
    @include transition(all, 0.3s);

    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .rightSection {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
            font-size: 14px;
            line-height: 20px;
            color: $gray;
        }

        a {
            display: flex;
            gap: 8px;
            align-items: center;
            text-decoration: none;
            color: $gray;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #E2E4E9;
            box-shadow: 0px 1px 2px 0px #5258660F;
            @include transition(all, 0.3s);

            &::before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                background-image: url("../../../public/static/contact.svg");
                background-repeat: no-repeat;
                background-size: contain;
                @include transition(all, 0.3s);
            }

            &:hover {
                background-color: $lightGray;
                color: $darkGray;
                box-shadow: none;
            }
        }

        .closeButton {
            padding: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
            background-image: url("../../../public/static/close.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 10px;
            height: 10px;
            margin-inline-start: 15px;
            @include transition(all, 0.3s);

            &:hover {
                transform: rotate(90deg);
            }
        }
    }
}

@media screen and (max-width: 585px) {
    .notificationWrapper {
        padding: 16px;
    }
}