@import "../../variables.scss";

.loginFormWrapper {
    background-image: url("../../../public/static/pattern.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 136px 0 20px 0;

    .formHeader {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;

        img {
            margin-bottom: 16px;
            max-width: 88px;
            max-height: 88px;
        }

        h5 {
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: $darkGray;
            font-weight: 500;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: $gray;
        }
    }

    .form {
        min-width: 400px;

        .field {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;

            label {
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                color: $darkGray;
                margin-bottom: 4px;

                span {
                    color: $green;
                }
            }

            input {
                padding: 10px 12px 10px 40px;
                border: 1px solid #E2E4E9;
                box-shadow: 0px 1px 2px 0px #E4E5E73D;
                border-radius: 10px;
                font-size: 14px;
                line-height: 20px;
                color: $darkGray;
                background-color: $white;
                outline: none;
                background-repeat: no-repeat;
                background-position: 12px center;
                @include transition(all, 0.3s);

                &::placeholder {
                    color: #868C98;
                }

                &:focus,
                &:focus-visible {
                    border-color: $green;
                }

                &:hover {
                    border-color: $lightGray;
                    background-color: $lightGray;
                }

                &.email {
                    background-image: url("../../../public/static/email.svg");
                    background-size: 15px 12.5px;
                }

                &.password {
                    background-image: url("../../../public/static/password.svg");
                    background-size: 15px 15px;
                }
            }

            .errorMessage {
                font-size: 11px;
                line-height: 16px;
                color: #FF0000;
                margin-top: 4px;
            }

        }

        .submitButton {
            background-color: $green;
            color: $darkGray;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            width: 100%;

            &:hover {
                background-color: #6EAB9D;
            }

            &:disabled {
                background-color: rgba(140, 207, 183, 0.4);
                cursor: not-allowed;
            }
        }
    }
}

@media (max-width: 585px) {
    .loginFormWrapper {

        .form {
            max-width: 100%;
            min-width: 320px;
        }
    }
}