.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 44px;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
}