$black: #525866;
$white: #ffffff;

@mixin transition($property, $transition) {
    -webkit-transition: $property $transition ease-in-out;
    -moz-transition: $property $transition ease-in-out;
    -ms-transition: $property $transition ease-in-out;
    -o-transition: $property $transition ease-in-out;
    transition: $property $transition ease-in-out;
}